<h1>Matches</h1>

<div id="matches">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col"><%= link_to "ID", :sort => "id" %></th>
        <th scope="col"><%= link_to "Date:", :sort => "match_date" %></th>
        <th scope="col"><%= link_to "Stage:", :sort => "stage" %></th>
        <th scope="col">Home team:</th>
        <th scope="col">Home team score:</th>
        <th scope="col">Visitor team score:</th>
        <th scope="col">Visitor team:</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <% @matches.each do |match| %>
        <%= render match %>
      <% end %>
  </table>
</div>

<%= link_to "New match", new_match_path, class:"btn btn-secondary" %>